In [ ]:
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
from nltk import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from textblob import TextBlob, Word, Blobber
import pandas as pd
import re

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
Comment = pd.read_csv("/content/drive/My Drive/Colab Notebooks/flipkart.csv")
Rev_comm=Comment["rew_cont"]
Rev_comm

0    Good Price to performanceBut came with some dr...
1                               Good productsREAD MORE
2                                good productREAD MORE
3                                 overheatingREAD MORE
4                                     averageREAD MORE
5                                   Go for itREAD MORE
6                Very Fast Delivery  , ThanksREAD MORE
7                                        niceREAD MORE
Name: rew_cont, dtype: object

In [ ]:
def preprocess(text):
    clean_data = []
    for x in (text[:]): 
        new_text = re.sub('<.*?>', '', x)   # remove HTML tags
        new_text = re.sub(r'[^\w\s]', '', new_text) # remove punc.
        new_text = re.sub(r'\d+','',new_text)# remove numbers
        new_text = new_text.lower() # lower case, .upper() for upper
        emoji_pattern = re.compile("["
        u"\U0001F600-\U0001F64F"  
        u"\U0001F300-\U0001F5FF" 
        u"\U0001F680-\U0001F6FF"  
        u"\U0001F1E0-\U0001F1FF"  
                           "]+", flags=re.UNICODE)
        new_text = emoji_pattern.sub(r'', new_text)         
        if new_text != '':
            clean_data.append(new_text)
    return clean_data

In [ ]:
def tokenization_w(words):
    w_new = []
    for w in (words[:]):
        w_token = word_tokenize(w)
        if w_token != '':
            w_new.append(w_token)
    return w_new

In [ ]:
lemmat = WordNetLemmatizer()
def lemmatization(words,wl):
    new = []
    for i in range(wl):
        lem_words = [lemmat.lemmatize(x) for x in (words[:][i])]
        new.append(lem_words)
    return new

In [ ]:
clean_comments=preprocess(Rev_comm)
comm_words=tokenization_w(clean_comments)
word_len=len(comm_words)
lem=lemmatization(comm_words,word_len)
print(lem)

[['good', 'price', 'to', 'performancebut', 'came', 'with', 'some', 'dried', 'thermal', 'paste', 'which', 'wa', 'not', 'cleanedread', 'more'], ['good', 'productsread', 'more'], ['good', 'productread', 'more'], ['overheatingread', 'more'], ['averageread', 'more'], ['go', 'for', 'itread', 'more'], ['very', 'fast', 'delivery', 'thanksread', 'more'], ['niceread', 'more']]

In [ ]:
new_comment = []
for i in lem:
    new_comment.append(" ".join(i))
print(new_comment)

['good price to performancebut came with some dried thermal paste which wa not cleanedread more', 'good productsread more', 'good productread more', 'overheatingread more', 'averageread more', 'go for itread more', 'very fast delivery thanksread more', 'niceread more']

In [ ]:
data = pd.DataFrame({'Comments':new_comment})
print(data['Comments'])

data['word_count'] = data['Comments'].apply(lambda x: len(str(x).split(" ")))
data[['Comments','word_count']].head()

data['char_count'] = data['Comments'].str.len() ## this also includes spaces
data[['Comments','char_count']].head()

0    good price to performancebut came with some dr...
1                               good productsread more
2                                good productread more
3                                 overheatingread more
4                                     averageread more
5                                   go for itread more
6                   very fast delivery thanksread more
7                                        niceread more
Name: Comments, dtype: object

                                            Comments  char_count
0  good price to performancebut came with some dr...          93
1                             good productsread more          22
2                              good productread more          21
3                               overheatingread more          20
4                                   averageread more          16

In [ ]:
def avg_word(sentence):
  words = sentence.split()
  print(words)
  print(len(words))
  print(sum(len(word) for word in words))
  if(len(words)==0):
    ave_w=(sum(len(word) for word in words)/(len(words)+1))
  else:
    ave_w=(sum(len(word) for word in words)/len(words))
  return ave_w

In [ ]:

data['avg_word'] = data['Comments'].apply(lambda x: avg_word(x))
data[['Comments','avg_word']].head()

['good', 'price', 'to', 'performancebut', 'came', 'with', 'some', 'dried', 'thermal', 'paste', 'which', 'wa', 'not', 'cleanedread', 'more']
15
79
['good', 'productsread', 'more']
3
20
['good', 'productread', 'more']
3
19
['overheatingread', 'more']
2
19
['averageread', 'more']
2
15
['go', 'for', 'itread', 'more']
4
15
['very', 'fast', 'delivery', 'thanksread', 'more']
5
30
['niceread', 'more']
2
12

                                            Comments  avg_word
0  good price to performancebut came with some dr...  5.266667
1                             good productsread more  6.666667
2                              good productread more  6.333333
3                               overheatingread more  9.500000
4                                   averageread more  7.500000

In [ ]:
stop = stopwords.words('english')

data['stopwords'] = data['Comments'].apply(lambda x: len([x for x in x.split() if x in stop]))
data[['Comments','stopwords']].head()

data['hastags'] = data['Comments'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
data[['Comments','hastags']].head()

data['numerics'] = data['Comments'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
data[['Comments','numerics']].head()

data['upper'] = data['Comments'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
data[['Comments','upper']].head()

                                            Comments  upper
0  good price to performancebut came with some dr...      0
1                             good productsread more      0
2                              good productread more      0
3                               overheatingread more      0
4                                   averageread more      0

In [ ]:
pos_family = {
    'noun' : ['NN','NNS','NNP','NNPS'],
    'pron' : ['PRP','PRP$','WP','WP$'],
    'verb' : ['VB','VBD','VBG','VBN','VBP','VBZ'],
    'adj' :  ['JJ','JJR','JJS'],
    'adv' : ['RB','RBR','RBS','WRB']
}

def check_pos_tag(x, flag):
    cnt = 0
    try:
        wiki = TextBlob(x)
        for tup in wiki.tags:
            ppo = list(tup)[1]
            if ppo in pos_family[flag]:
                cnt += 1
                print(ppo, tup)
    except:
        pass
    return cnt

In [ ]:
data['noun_count'] = data['Comments'].apply(lambda x: check_pos_tag(x, 'noun'))
data['verb_count'] = data['Comments'].apply(lambda x: check_pos_tag(x, 'verb'))
data['adj_count'] = data['Comments'].apply(lambda x: check_pos_tag(x, 'adj'))
data['adv_count'] = data['Comments'].apply(lambda x: check_pos_tag(x, 'adv'))
data['pron_count'] = data['Comments'].apply(lambda x: check_pos_tag(x, 'pron'))
data[['Comments','noun_count','verb_count','adj_count', 'adv_count', 'pron_count' ]].head()

data.head()

NN ('price', 'NN')
NN ('paste', 'NN')
NN ('productsread', 'NN')
NN ('productread', 'NN')
NN ('itread', 'NN')
NN ('delivery', 'NN')
NN ('thanksread', 'NN')
VB ('performancebut', 'VB')
VBD ('came', 'VBD')
VBN ('dried', 'VBN')
VBZ ('wa', 'VBZ')
VB ('cleanedread', 'VB')
VB ('go', 'VB')
JJ ('good', 'JJ')
JJ ('thermal', 'JJ')
JJ ('good', 'JJ')
JJ ('good', 'JJ')
RB ('not', 'RB')
RBR ('more', 'RBR')
RBR ('more', 'RBR')
RBR ('more', 'RBR')
RB ('overheatingread', 'RB')
RBR ('more', 'RBR')
RB ('averageread', 'RB')
RBR ('more', 'RBR')
RBR ('more', 'RBR')
RB ('very', 'RB')
RB ('fast', 'RB')
RBR ('more', 'RBR')
RB ('niceread', 'RB')
RBR ('more', 'RBR')

                                            Comments  ...  pron_count
0  good price to performancebut came with some dr...  ...           0
1                             good productsread more  ...           0
2                              good productread more  ...           0
3                               overheatingread more  ...           0
4                                   averageread more  ...           0

[5 rows x 13 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

cv=CountVectorizer()
A_vec = cv.fit_transform(new_comment)
print(A_vec.toarray())

tv=TfidfVectorizer()
t_vec = tv.fit_transform(new_comment)
print(t_vec.toarray())

feature_names = tv.get_feature_names()

dense = t_vec.todense()
denselist = dense.tolist()
daf = pd.DataFrame(denselist, columns=feature_names)
print(feature_names)

df_c =pd.concat([daf,data], axis=1)
df_c.head()

[[0 1 1 0 1 0 0 0 1 0 1 0 1 0 1 1 1 0 0 1 0 1 1 0 1 1 1]
 [0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]]
[[0.         0.27034446 0.27034446 0.         0.27034446 0.
  0.         0.         0.19551111 0.         0.1079617  0.
  0.27034446 0.         0.27034446 0.27034446 0.27034446 0.
  0.         0.27034446 0.         0.27034446 0.27034446 0.
  0.27034446 0.27034446 0.27034446]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.55754269 0.         0.30787641 0.
  0.         0.         0.         0.         0.         0.
  0.77094635 0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.55754269 0.         0.30787641 0.
  0.         0.         0.         0.         0.         0.77094635
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.37086918 0.
  0.         0.92868512 0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.92868512 0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.37086918 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.5625903  0.5625903  0.         0.5625903  0.22466969 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]
 [0.         0.         0.         0.49032102 0.         0.49032102
  0.         0.         0.         0.         0.19580905 0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.49032102 0.         0.         0.49032102
  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.37086918 0.92868512
  0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.         0.         0.
  0.         0.         0.        ]]
['averageread', 'came', 'cleanedread', 'delivery', 'dried', 'fast', 'for', 'go', 'good', 'itread', 'more', 'niceread', 'not', 'overheatingread', 'paste', 'performancebut', 'price', 'productread', 'productsread', 'some', 'thanksread', 'thermal', 'to', 'very', 'wa', 'which', 'with']

   averageread      came  cleanedread  ...  adj_count  adv_count  pron_count
0     0.000000  0.270344     0.270344  ...          2          2           0
1     0.000000  0.000000     0.000000  ...          1          1           0
2     0.000000  0.000000     0.000000  ...          1          1           0
3     0.000000  0.000000     0.000000  ...          0          2           0
4     0.928685  0.000000     0.000000  ...          0          2           0

[5 rows x 40 columns]